.App {
    text-align: center;
}

.barchart {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem;
    justify-content: center;
    width: 30%;
}

.form {
    display: block;
    background-color: lightskyblue;
    padding: 3rem;
    width: 20rem;
    align-items: center;
    margin: 0 auto;
    border-radius: 2rem;
}
.input-list {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}
.refresh-btn {
    margin: 0.5rem;
    padding: 1rem;
    border: 0.1rem solid blue;
    border-radius: 1rem;
    background-color: skyblue;
    color: blue;
}
.refresh-btn:hover {
    background-color: white;
    border: 0.1rem solid black;
    color: black;
}
